<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C)  2019 Domjos
  ~ This file is part of UniBuggerMobile <https://github.com/domjos1994/UniBuggerMobile>.
  ~
  ~ UniBuggerMobile is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ UniBuggerMobile is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with UniBuggerMobile. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.domjos.unibuggermobile">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activities.ExportActivity"
            android:label="@string/export"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/search"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.FilterActivity"
            android:label="@string/filter"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AdministrationActivity"
            android:label="@string/administration"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.FieldActivity"
            android:label="@string/fields"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.UserActivity"
            android:label="@string/users"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.IssueActivity"
            android:label="@string/issues"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.VersionActivity"
            android:label="@string/versions"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ProjectActivity"
            android:label="@string/projects"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AccountActivity"
            android:label="@string/accounts"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.domjos.unibuggermobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.domjos.unibuggermobile.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>